@use "@/styles/glass.scss" as *;

.contactEntry {
  @include glass;

  color: inherit;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: clamp(0.8rem, 0.7vw, 1rem)
  clamp(1rem, 4vw, 1.3rem);
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.04);

  /* 3D hover vars */
  --rx: 0deg;
  --ry: 0deg;
  --hover: 0;

  transform-style: preserve-3d;
  perspective: 1000px;

  transform:
          perspective(1000px)
          rotateX(var(--rx))
          rotateY(var(--ry))
          scale(calc(1 + var(--hover) * 0.02));

  transition: transform 90ms ease, filter 200ms ease-in-out;
}

.contactEntry:hover {
  filter: brightness(calc(1 + 0.2 * var(--hover)));
  z-index: 100;
}


.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 0.95rem;
}

.value {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.75);
}