.background {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 120dvh;

    z-index: -1;
    pointer-events: none;

    overflow: hidden;

    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    filter: brightness(var(--bg-filter-brightness));
    transition: background 240ms ease, filter 240ms ease;
}


.blobs {
    width: 100%;
    height: 100%;
    filter: url(#goo) blur(var(--blob-blur));
}

// Base blob styles
@mixin blob {
    width: var(--circle-size);
    height: var(--circle-size);

    position: absolute;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    mix-blend-mode: var(--blending);

    opacity: 1;
}

// Individual blob styles, they vary in color, position and movement
.blob1 {
    @include blob;

    background: radial-gradient(circle at center, rgba(var(--color1), var(--blob-alpha)), rgba(var(--color1), 0) 50%) no-repeat;

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
}

.blob2 {
    @include blob;

    background: radial-gradient(circle at center, rgba(var(--color2), var(--blob-alpha)), rgba(var(--color2), 0) 50%) no-repeat;

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
}

.blob3 {
    @include blob;

    background: radial-gradient(circle at center, rgba(var(--color3), var(--blob-alpha)), rgba(var(--color3), 0) 50%) no-repeat;

    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
}

.blob4 {
    @include blob;

    background: radial-gradient(circle at center, rgba(var(--color4), var(--blob-alpha)), rgba(var(--color4), 0) 50%) no-repeat;

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
}

.blob5 {
    @include blob;

    background: radial-gradient(circle at center, rgba(var(--color5), var(--blob-alpha)), rgba(var(--color5), 0) 50%) no-repeat;

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveHorizontal 20s ease infinite;
}

.blobInteractive {
    @include blob;

    width: 100%;
    height: 100%;

    top: -50%;
    left: -50%;

    background: radial-gradient(circle at center, rgba(var(--color-interactive), var(--blob-alpha)), rgba(var(--color-interactive), 0) 50%) no-repeat;

    opacity: var(--blob-interactive-alpha);
}

// The svg filter
.filter {
    position: absolute;
    top: 0;
    left: 0;
}

// Blob animations
@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

.blob1,
.blob2,
.blob3,
.blob4,
.blob5,
.blobInteractive {
    will-change: transform;
}

@media (max-width: 640px) {
    .background {
        height: 115dvh;
    }

    .blobs {
        filter: url(#goo) blur(18px);
    }

    .blob1,
    .blob2,
    .blob3,
    .blob4,
    .blob5 {
        animation-duration: 56s;
    }

    .blobInteractive {
        display: none;
    }
}
